.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    color: #fff;
    background-color: #34495e; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-image {
    flex: 1;
    max-width: 40%;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.about-image img {
    width: 70%;
    max-height: 70%;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-text {
    flex: 2;
    max-width: 60%;
    padding: 20px;
    text-align: left; 
}

.about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content {
    font-size: 1.2rem;
    line-height: 1.8;
}
